h1{
    text-align: center;
}

.no-outline:focus {
    outline: none !important;
    box-shadow: none !important;
}

.custom-text-background {
    background-color: rgb(245, 245, 244);
}

#image{
    max-width: 700px;
}

.corps_page{
    display: flex;
    flex-direction: column;
    min-height: 85vh;
}

.accordion-item {
    border-top: none !important;
}

.code_space {
    background-color: black;
    color: white;
}



