{% extends 'base.html' %}

{% block title %}
    CV 2
{% endblock %}


{% block content %}
<!--PRESENTATION-->
<div class="container px-4 py-5">
    <div class="row flex-md-row-reverse align-items-center col-lg-10 offset-lg-1 g-4 py-1">
        <div class="col-10 offset-1 col-md-6 offset-md-0">
        <img src="../static/images/cv/photo.jpg" class="d-block img-fluid text-center" alt="photo">
        </div>
        <div class="col-10 offset-1 col-md-6 offset-md-0">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center text-md-start">Freelance Front-end Developer</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus turpis ligula, pellentesque a elit in, convallis laoreet metus.</p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="mailto:gilles.cobigo@gmail.com?subject=Contact%20depuis%20CV%20en%20ligne" class="btn btn-primary" target="_blank">Me contacter</a>
        </div>
        </div>
    </div>
</div>

<!--WID-->
<div class="container">

    <h2 class="text-center mt-4">What I did</h2>

    <div class="card my-4 col-md-10 offset-md-1">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>

    <div class="card my-4 col-md-10 offset-md-1">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>

    <div class="card my-4 col-md-10 offset-md-1">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>



{% endblock %}

