{% extends 'base.html' %}

{% block title %}
Responsive
{% endblock %}


{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/app/style.css')}}">

{% endblock %}


{% block content %}
<h1>Responsive Design</h1>

<div>
    Deux possibilités :
    <div>
        1 - A la main avec <a href="http://127.0.0.1:5000/flexbox">Flexbox</a>
    </div>
    </br>
    <div>
        2 - Avec l'utilisation des classes Bootstrap :
        <ul>

            <div class="accordion" id="accordionExample">

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed btn-secondary no-outline" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                            aria-controls="collapseOne">
                            Utilisation des contenairs
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body custom-text-background">
                            <ul>
                                <li>
                                    Lien vers le cours <a href="https://youtu.be/dX8396ZmSPk?feature=shared&t=47266"
                                        target="_blank">ici</a>
                                </li>
                                <li>
                                    Eléments explicatifs
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed no-outline" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Documentation Bootstrap
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body custom-text-background">
                            Lien vers la doc <a href="https://youtu.be/dX8396ZmSPk?feature=shared&t=48230" target="_blank">ici</a>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed no-outline" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Bootstrap Utility Classes
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body custom-text-background">
                            Lien vers le cours <a href="https://youtu.be/dX8396ZmSPk?feature=shared&t=48752" target="_blank">ici</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed no-outline" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Bootstrap Components
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body custom-text-background">
                            Lien vers le cours <a href="https://youtu.be/dX8396ZmSPk?feature=shared&t=49637" target="_blank">ici</a>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>

{% endblock %}